<span th:fragment="assetBadge(type)"
      th:class="${'badge ' +
        (type == 'STOCK' ? 'bg-primary' :
         type == 'REIT' ? 'bg-success' :
         type == 'ETF' ? 'bg-info' :
         type == 'TESOURO_DIRETO' ? 'bg-warning text-dark' :
         type == 'CRYPTO' ? 'bg-dark' :
         type == 'RENDA_FIXA' ? 'text-bg-info' :
         type == 'OUTROS' ? 'bg-secondary' :
         'bg-secondary')}"
      th:text="${type}">TYPE</span>

<span th:fragment="dividendBadge(type)"
      th:class="${'badge ' +
        (type == 'DIVIDENDO' ? 'bg-success' :
         type == 'JCP' ? 'bg-primary' :
         type == 'RENDIMENTO' ? 'bg-info' :
         type == 'BONIFICACAO' ? 'bg-warning text-dark' :
         type == 'BTC' ? 'bg-secondary' :
         'bg-secondary')}"
      th:text="${type}">TYPE</span>
